.navbar {
    
    background-color: #262262;
    position: relative;

    .navbar-nav {
        .nav-item {

         
            a {
                
              
              
                color: white;
               
              
            }

           
        }
    }

}

